<body >
    
<div style="max-height: 300px; overflow-x:scroll;">
    <div class="row no-gutters">
        <div class="col-3" *ngFor="let item of question ;index as i" >
            <div>
                <!-- {{color[i]}} -->
                <button mat-mini-fab  class="index-btn"
                color="primrry" [ngClass]="{color : color[i]}" (click)="questionIndex(i)">{{i+1}}</button>
              
            </div>
        </div>
    </div>
</div>

 
<div style="padding-top: 10px;">
    <mat-divider style="background: black;"></mat-divider>
    <mat-divider style="background: black;"></mat-divider>
</div>

<div>
    timer..
    <div>
        <countdown #cd [config]="TimerConfig" (event)="timeFinishd($event)"></countdown>
      
    </div>
  
</div>
    
</body>