// body{
   
//     // height: 100vh;
// }

.index-btn{
    margin: 5px;
}

.color{
    background: blueviolet;
    color: wheat;  
}

.index-btn:hover{
    background-color: rgb(216, 212, 212);
    color: rgb(8, 8, 8);
}
@media only screen and (max-width: 600px){
   
}