<div>
  <div class="close" style="margin-bottom: 5px">
    <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </div>
  <div style="clear: both"></div>
</div>

<mat-card>
  <strong>Question :</strong> {{ data.question }}

  <div class="text-center image-div" *ngIf="data.imageQue">
    <img class="image" [src]="data.imageQue | getDownloadURL" alt="not work" />
  </div>
</mat-card>

<div class="row">
  <div class="col-md-6 col-12" *ngFor="let item of data.options; index as i">
    <mat-card class="main-card"> <strong>{{ i + 1 }} >></strong> {{ item }} </mat-card>
  </div>
</div>

<div>
    <mat-card class="main-card" style="background-color: rgb(6, 190, 6);">
       <strong>Correct answer</strong>   {{data.answer}}
    </mat-card>
</div>