.image{
    height: 250px;
}

// .image-div{
//     border: 1px solid black;
//     padding: 5px;
// }

.main-card{
    margin-top: 10px;
}
mat-card{
    background-color:whitesmoke;
    border: 1px solid black;
    /* color: black; */
    font-size: 15px;
}

.close{
    float: right;
    
}
@media only screen and (max-width: 600px){
    .image{
        height: 250px;
    width: 206px;

    }
}