<body >
    <div class="container-fluid">
       

        <div class="row">
          
            <div class="col-md-9 col-12">
                <app-quetion [item]="questionList[index]" [index]="index" [lastindex]="lastindex"
                (pagination)="next($event)" (changes)="changes($event)" (sendData)="sendData($event)"></app-quetion>
            </div>
            
            <div class="col-md-1" style="border-right: 1px solid black; height: 100vh;">

            </div>
            <div class="col-md-2 col-12 bottom">
                <app-quetionindex [question]="questionList" [color]="colrIndex" (index)="indexs($event)"></app-quetionindex>
            </div>
        </div>
    </div>
</body>