.main-card{
    width: 700px;
    background-color: whitesmoke;
    border: 1px solid black;
}
.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}

.mat-field{
    width: 100%;
   
}

.bt-login{
    width: 100%;
}

@media only screen and (max-width: 600px){
    .main-div {
      display: flex;
      justify-content: center;
      flex-direction: row;
      padding-top: 50px;
    }
    .main-card {
      width: 360px;
      border: 0px solid black;
    }
   
  }