<body>
    <div class="container-fluid main-div">
        <form [formGroup]="userform">
            <mat-card class="main-card">

                <div class="text-center">
                    <h1>🖐 welcome</h1>
                </div>

                <hr>
                
                <div class="row ">
                    <div class="col-md-6 col-12">
                        <mat-form-field appearance="outline" class="mat-field">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Enter Fullname"
                            formControlName="name"
                            
                            >
                            <mat-icon matPrefix>account_circle</mat-icon>
                          </mat-form-field>
                    </div>
                    <div class="col-md-6 col-12">
                        <mat-form-field appearance="outline" class="mat-field">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Enter Email"
                            formControlName="email"
                            >
                            <mat-icon matPrefix>alternate_email</mat-icon>
                          </mat-form-field>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-6 col-12">
                        <mat-form-field appearance="outline" class="mat-field">
                            <mat-label>Contact Number</mat-label>
                            <input matInput placeholder="Enter number"
                            formControlName="number"
                            >
                            <mat-icon matPrefix>phone</mat-icon>
                          </mat-form-field>
                    </div>
                    <div class="col-md-6 col-12">
                          <mat-form-field appearance="outline" class="mat-field">
                        <mat-label>Choices Category</mat-label>
        
                        <mat-select formControlName="category" multiple>
                            <div *ngFor="let item of categoryList | async">

                                <mat-option value="{{item.category_name}}">{{item.category_name}}</mat-option>
                            </div>

                            <!-- <mat-option value="Mongo">Mongo</mat-option>
                            <mat-option value="Reactjs">Reactjs</mat-option> -->
                          </mat-select>
                    </mat-form-field>
                    </div>
                </div>


                <div>
                    <button class="bt-login"  mat-raised-button color="primary" (click)='userlog()'> Tack Quiz </button>
                </div>

            </mat-card>
        </form>
    </div>
</body>