<body>
    <div class="main-div">

        <form [formGroup]="addQuizForm">
            
            <mat-card class="main-card">
            
                <div class="row no-gutters " >
            
                    <div class="col-md-10 col-12">
            
                        <div *ngIf="selection">
    
                            <mat-form-field class="example-full-width" style="width: 100%">
                                <mat-label>Question</mat-label>                   
                                <textarea matInput formControlName="question"></textarea>
                            </mat-form-field>
                        
                        </div >
                     
                       
                        <div *ngIf="selection == false" class="">
    
                            <label for="img">Select image:</label>
                            <input type="file" (change)="uploadFile($event)" >    
                            
                            <mat-form-field style="width: 100%;">
                                <mat-label>image description</mat-label>
                                <input matInput formControlName="question">
                            </mat-form-field>
                        
                        </div>
                  
                    </div>
        
                    <div class="col-md-2 col-12 ">
                  
                        <button mat-icon-button class="mt-2" (click)='selection = true '> 
                           <mat-icon>text_fields</mat-icon></button>
                        
                           <button mat-icon-button class="ml-2 mt-2" (click)='selection =false'>
                           <mat-icon>add_photo_alternate</mat-icon></button>
                    </div>
        
                </div>
    
    
                
                        <!-- add options -->
        
                        <div formArrayName="options">
                            <div *ngFor="let alias of options.controls; let i=index">
                                <div class="row no-gutters">
                                    <div class="col-md-11 col-10">
                                        <mat-form-field appearance="outline" style="width: 100%">
                                            
                                                <mat-label>option {{i+1}}</mat-label>
                                                <input  matInput formControlName="{{i}}" />
    
                                        </mat-form-field>
        
                                    </div>
                                    <div  class="col-md-1 col-1 bt-close">
                                        <button mat-icon-button *ngIf="i>0" (click)="remove(i)">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </div>
        
                                </div>
        
                            </div>
                        </div>
                        <button mat-button  (click)="add()">
                            <mat-icon  style="color: #3f51b5;">add_box</mat-icon>Add one more option
                        </button>
        
                        <div class="row">
        
                            <div class="col-md-6 col-12" >
                                <mat-form-field appearance="fill" style="width: 100%;">
                                    <mat-label>Enter create answer</mat-label>
                                    <input matInput placeholder=""
                                    formControlName="answer">
        
                                  </mat-form-field>
                            </div>
        
                            <div class="col-md-6 col-12" >
                                <mat-form-field appearance="fill" style="width: 100%;"
                                >
                                    <mat-label>Question category</mat-label>

                                    <mat-select formControlName="category">
                                    
                                     <div *ngFor="let item of categoryList | async">
                                            <mat-option value="{{item.category_name}}">{{item.category_name}}</mat-option>
                                     </div>
                                      <!-- <mat-option value="Mongo">Mongo</mat-option>
                                      <mat-option value="Reactjs">Reactjs</mat-option> -->
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                        </div>
        
        
                        <div>
                            <button mat-raised-button color="accent" class="add-question"
                             (click)="data()">
                               <mat-icon>task_alt</mat-icon> Add question </button>
                        </div>
                        <div style="clear: both;"></div>
    
    
            </mat-card>
        </form>
       
    </div>

</body>

