.main-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 100px;
}

.main-card {
  width: 600px;
  box-shadow: 5px 5px 15px;
  border: 1px solid black;
}

.add-question{
  float: right;
}


@media only screen and (max-width: 600px){
  .main-div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 50px;
  }
  .main-card {
    width: 360px;
  }
  .add-question{
    width: 100%;
  }

}