<body>
      <div>

        <div class="close">
         <button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button> 
        </div>

        <div class="text-center">
          <h1>Edit Question</h1>
      </div>
       
      </div>
      <div style="clear: both;"></div>
   
    <hr>

    <form [formGroup]="editQueForm">
    
        <div *ngIf="data.question">
          <mat-form-field class="example-full-width" style="width: 100%">
              <mat-label>Question</mat-label>
              <textarea matInput formControlName="question"></textarea>
          </mat-form-field>
        </div>

        <div *ngIf="data.imageQue">
          <label for="img">Select image:</label>
          <input type="file" (change)="uploadFile($event)">
        </div>

        <div formArrayName="options" class="options-div">

          <div class="row no-gutters" *ngFor="let alias of options.controls; let i=index">
            <div class="col-md-11 col-11">
                  <mat-form-field appearance="outline" style="width: 100%">
                    <mat-label>option {{i+1}}</mat-label>
                    <input  matInput placeholder="" formControlName="{{i}}" />
                  </mat-form-field>
            </div>

            <div class="col-md-1 col-1">
                  <button mat-icon-button  (click)="remove(i)">
                    <mat-icon>close</mat-icon>
                  </button>
            </div>

          </div>

        </div>

        <button mat-button  (click)="add()">
          <mat-icon  style="color: #3f51b5;">add_box</mat-icon>Add one more option
        </button>

        <div class="row">
                
          <div class="col-md-6 col-12" >
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-label>Enter create answer</mat-label>
                <input matInput placeholder=""
                formControlName="answer">

              </mat-form-field>
          </div>

            <div class="col-md-6 col-12" >
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Question category</mat-label>

                    <mat-select formControlName="category">
                    
                    <div *ngFor="let item of categoryList | async">
                            <mat-option value="{{item.category_name}}">{{item.category_name}}</mat-option>
                    </div>
                    </mat-select>
                  </mat-form-field>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6 col-6 text-center">
              <mat-slide-toggle formControlName="status"  class="side">{{ status ? "Active" : "Deactive"}}</mat-slide-toggle>
            </div>

            <div class="col-md-6 col-6 text-center">
              <button mat-raised-button color="primary" mat-dialog-close  (click)="edit()"  class="bt-edit">
              
                <span class="material-icons">
                beenhere</span> Update
              </button>
            </div>
        </div>
        
  </form>
    
</body>