<div class="container-fluid main-div">
  <mat-card class="main-card">
    <div class="text-center">
      <h1>Hello User 👋🏼</h1>
    </div>
    <hr />

    <div>
      <p>* Quiz Rules.....</p>
      <p>(1) This quiz time is only 30 min</p>
      <p>(2) After 30 minute quiz automatic submit</p>
      <p>(3) You choices multiple categories in which you are interested </p>
      <p>(4) Max 15 question in this quiz </p>
      
    </div>

    <div class="text-center" >
        <button mat-raised-button class="bt-start" (click)="start()" color='primary'>Start</button>
    </div>
  </mat-card>
</div>
