.main-card{
    width: 500px;
    background-color: whitesmoke;
    border: 1px solid black;
}
.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}

.bt-start{
    padding: 0px 50px 0px 50px;
}