<button mat-raised-button color='warn' class="bt-float">
  <mat-icon>exit_to_app</mat-icon> Exit Quiz
</button>

<div class="main-div">

  <mat-card class="card">

    <div *ngFor="let item of user">
      <div class="text-center">
        <div class="user_name">
          {{ item.obj.name |uppercase }}
        </div>
      </div>
    </div>

    <hr>

    <div *ngFor="let item of quiz">
      <div class="row text-center">
        <div class="col-md-4 col-12 disply col-div ">
          <div>Total_Questioin</div>
          <div class="pl-sm-5 mt-lg-2">
            {{ item.total }}
          </div>
        </div>
        <div class="col-md-4 col-12 disply col-div ">
          <div>Correct_Answer</div>

          <div class="pl-sm-5 mt-lg-2">
            {{ item.result }}
          </div>
        </div>
        <div class="col-md-4 col-12 disply col-div ">
          <div>Wrong_Answer</div>
          <div class="pl-sm-5 mt-lg-2">
            {{ item.total - item.result }}
          </div>
        </div>
      </div>
    </div>

  </mat-card>

    <div *ngFor="let item of quiz">

        <div *ngFor="let i of item.qestion; index as a">
        
          <mat-card class="card worng" [ngClass]="{right: item.check[a]}">

              <div class="question">
                <strong>Question {{a+1}} :</strong>  {{ i.question }}
                <!-- <div class="main-image" *ngIf="i.imageQue">
                  
                  <img [src]="i.imageQue | getDownloadURL" class="image">
                </div> -->
              </div>  

              <div class="row">
                
                <div class="col-md-6 col-12" *ngFor="let item of i.options">
                  <mat-card class="card-option">
                    {{ item }}
                  </mat-card>
                </div>

              </div>
            
              <div >
                <mat-card class="card-select-ans"><strong>Selected Answer :</strong> {{item.select_answer[a]}}</mat-card>
              </div>

              <div>
                <mat-card class="card-answer"><strong>Correct Answer :</strong> {{i.answer}}</mat-card>
              </div>

          </mat-card>
        
        </div>

    </div>

</div>
