.user_name{
    color: blue;
    font-weight: bold;
    font-size: 25px;
}

.main-div{
    margin:  0 150px 0 150px;
}
.card{
    margin-top:10px ;
    border: 1px solid black;
}
table tr th{
    padding: 0px 10px 0 0px;
}
table tr td{
    text-align: center;
    font-size: 20px;
}

.mt-lg-2{
    padding-top: 10px;
}

.col-div{
    font-size: 20px;
    font-weight: bold;
}

hr{
    border-top: 1px solid black;
}

.question{
    font-size: 20px;
}
.card-option{
    margin-top: 10px;
    background-color:whitesmoke;
}

.bt-float{
    float: left;
    padding-left:30px ;
    position: fixed;
}

.card-answer{
    margin-top: 10px;
    background-color: rgb(124 255 106);
}

.card-select-ans{
    margin-top: 10px;
    background-color:whitesmoke;
}
.worng{
    background: #fb6e6e7a;
}
.right{
    background-color: white;
}

.main-image{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    // padding: 10px;
}
.image{
   
    height: 390px;
    width: 600px;
    border: 2px solid black ;
}

@media only screen and (max-width: 600px){
    
    .main-div{
        margin:  0 10px 0 10px;
    }
    
    table tr th{
        padding: 0px 5px 0 0px;
    }

    .disply{
        display: inline-flex;
    }
    .pl-sm-5{
        padding-left: 10px;
    }
    .mt-lg-2{
        padding-top: 0px;
    }

    
    .bt-float{

        float: none;
        position: unset;
    }
    .image{
   
        height: 300px;
        width: 340px;
        border: 2px solid black ;
    }

}