<body>
  
  <!-- globule error message -->
   <mat-card class="error"  *ngIf="errorMsg">
    <Strong>An Error Occurred </Strong>{{errorMsg}}
  </mat-card>

  <div class="main-div">


    <mat-card class="main-card">

      <form [formGroup]="adminForm">

        <div class="example-button-container">

          <div class="login-icon-div">
            <mat-icon class="login-icon">admin_panel_settings</mat-icon>
          </div>
       
        </div>

        <div>

          <h1 class="login-title">Admin login</h1>
       
        </div>

        <div>

          <mat-form-field style="border: 1px solid white;" appearance="outline" style="width: 100%;">
            <mat-icon matPrefix>mail</mat-icon>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter email" formControlName="email">
          </mat-form-field>

        </div>

        <div>

          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-label>password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
              autocomplete="section-blue shipping address-level2">
            <button mat-icon-button matSuffix (click)="hide = !hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

        </div>

        <div style="text-align: center;">

          <button mat-raised-button color="primary" class="bt-login" (click)="adminLogin()">
            Sign in <mat-icon>login </mat-icon></button>
        </div>
      </form>


    </mat-card>
  </div>
</body>