body {
  background-image: url(../../../../../assets/FreeVector-Vector-Background-With-Circles.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.login-icon-div {
  width: 70px;
  height: 70px;
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
  border: 2px solid black;
}

.login-title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: rgb(18, 22, 235);
}

.login-icon {
  // display: flex;
  // justify-content: center;
  // flex-direction: row;
  // padding-top: 150px;
  margin-left: 7px;
  margin-top: 2px;
  font-size: 60px;
}

.main-card {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.801);
  box-shadow: 0 0 20px;
}

.main-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 150px;
}

.bt-login {
  width: 100%;
  // background-color: #000000;
}

.error {
  background-color: #fba2a2;
}

.example-button-container {
  position: absolute;
  top: -40px;
  left: 30px;
}
