.main-card{
    background-color: rgb(0, 0, 0);
    width: 700px;
    border-radius: 20px;
    color: white;
    border: 1px solid black;

}
.left{
    float: left;
}
.right{
    float: right;
}
.submit-div{
    margin-top: 10px;
}

.bt{
    padding: 0 30px 0 30px;
    font-size: 20px;
    // font-weight: bold;
}

.bt:hover{
    background-color: rgb(206, 202, 202);
}

.mb-4{
    margin-bottom: 4px;
}
.sub-bt{
    padding: 0 30px 0 30px;
    font-size: 20px;
    font-weight: unset;
}

.main-div{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.main-image{
    display: flex;
    justify-content: center;
    // padding: 10px;
}
.image{
   
    height: 390px;
    width: 600px;
    border: 2px solid rgb(255, 255, 255);
}

.card{
    margin-top: 10px;
}

.card:hover{
    background-color: rgb(219, 215, 215);
    cursor: pointer;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  

  @media only screen and (max-width: 600px){
    .main-card{
        background-color: rgb(0, 0, 0);
        width: 350px;
        border-radius: 20px;
        color: white;
        border: 1px solid black;
    
    }

    .image{
   
        height: 300px;
        width: 350px;
        border: 2px solid rgb(255, 255, 255);
    }
    .example-radio-group {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
      }
      
    }