<body>
  
  <div class="main-div">
    <mat-card class="main-card">
      
      <div style="font-size: 15px">
        <strong>Question ({{ index + 1 }}) :</strong> {{ item.question }}
        <div *ngIf="item.imageQue" class="main-image">
          <img [src]="item.imageQue | getDownloadURL" class="image" alt="image" />
        </div>
      </div>
  
      <div style="font-size: 15px">

        <mat-card style="margin-top: 10px">
          <mat-radio-group class="example-radio-group"  [(ngModel)]="item['Answer']">
            <mat-radio-button
              *ngFor="let i of item.options"
             
              [value]="i"
              color="primary"
              (change)="test(index)"
              (click)=save(i)
            >
              {{ i }}
            </mat-radio-button>
          </mat-radio-group>
          
        </mat-card>
      </div>
  
      <div style="margin-top: 10px">
          <div>
              <div class="left" *ngIf="index > 0 ">
                  <button class="bt" mat-raised-button (click)="next(-1)">
                     <mat-icon class="mb-4">arrow_back</mat-icon> Back</button>
              </div>
              
              <div class="right" *ngIf="index < lastindex-1">
                  <button class="bt " mat-raised-button (click)="next(1)">
                      Next <mat-icon class="mb-4">arrow_forward</mat-icon></button>
                     
              </div>
              <!-- <div style="clear: both;"></div> -->
              
              <div class=" right"  *ngIf="index == lastindex-1">
                  <button (click)='submit()' class="sub-bt" color='primary' mat-raised-button>Submit</button>
                </div>
              <!-- <div style="clear: both;"></div> -->
          </div>
  
          
      
  
        
        <!-- <div class="left" *ngIf="index > 0 ">
                      <button mat-raised-button  (click)="next(-1)">back</button>
                  </div>
                
                 <div class="right" *ngIf="index < lastindex-1">
                     <button mat-raised-button  (click)="next(1)">next</button>
                 </div>
  
                 <div *ngIf="index == lastindex-1">
                  <button>submit</button>
                 </div> -->
      </div>
    </mat-card>
  </div>
  

</body>
