<div class="container-fluid">
    <div class="pt-10"> 
        <form [formGroup]="categoryForm">

            <div class="row">
                <div class="col-md-2 col-12 lable">
                    Add new category >>
                </div>
                <div class="col-md-8 col-12" >
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Category</mat-label>
                        <input matInput placeholder="Enter Category"
                        formControlName="category_name"
                        >
                      </mat-form-field>
                </div>
                <div class="col-md-2 col-12">
                    <button mat-raised-button class="add-bt" (click)='add()'><mat-icon>library_add</mat-icon> Add category</button>
                </div>
               
              </div>
        </form>
    </div>
   
    <div class="table">
        <div [ngStyle]="{'display':respons ? 'true' : 'none'}">
            <mat-progress-bar mode="query"></mat-progress-bar>
        </div>

        <ngx-datatable 
            [limit]="5" 
            class="material" 
            [rows]="categoryList" 
            rowHeight="auto"
            [columnMode]="ColumnMode.force"
            rowHeight="auto"
            [headerHeight]="50" 
            [footerHeight]="50">

                <ngx-datatable-column name="No" [resizeable]="true">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        {{rowIndex + 1}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Category name" [resizeable]="true">
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        {{row.category_name}}
                    </ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="Active" [resizeable]="true" >
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                      <button mat-raised-button class="bt-active">
                        Active
                      </button>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Deactive" [resizeable]="true" >
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <button mat-raised-button class="bt-deactive">
                            Deactive
                          </button>
                    </ng-template>
                </ngx-datatable-column> -->

                <ngx-datatable-column name="Active / Deactive" [resizeable]="true" >

                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                         <!-- <button (click)=status(row)>click me</button> -->
                         <mat-slide-toggle class="side" [(ngModel)]="row.status" (click)='status(row)'>{{row.status ?"Active":"Deactive"}}
                         </mat-slide-toggle>
                       
                    
                       
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Delete" [resizeable]="true" >
                    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                        <button mat-icon-button (click)='delete(row.id)' class="delete">
                          <mat-icon>delete</mat-icon>
                          </button>
                    </ng-template>
                </ngx-datatable-column>
              
               
            </ngx-datatable>
    </div>

</div>

