.pt-10{
   padding: 10px;
}
.lable{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.add-bt{
    width: 100%;
    margin-top: 8px;
}
.side{
    margin-top: 10px;
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgb(10 234 43 / 54%);
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #0be640;
}

::ng-deep.mat-slide-toggle-thumb {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    background-color: #ff0000;
}
::ng-deep.mat-slide-toggle-bar {
    background-color: rgb(249 0 0 / 38%);
}
.table{
    width: 900px;
    justify-content: center;
    margin: auto
}

.delete{
    color: red;
}

@media only screen and (max-width: 600px){
    .lable{
        text-align: center;
        padding: 0px;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
    }
    .add-bt{
        width: 100%;
        margin-top: 0px;
    }
    .table{
        width: 350px;
    }
    
}