.table{
    padding-top: 10px;
}
.side{
    margin-top: 10px;
}
.search{
    padding: 10px;
}
.field{
    width: 100%;

}

.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 6px;
    border-radius: 9px;
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgb(10 234 43 / 54%);
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #0be640;
}

::ng-deep.mat-slide-toggle-thumb {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    background-color: #ff0000;
}
::ng-deep.mat-slide-toggle-bar {
    background-color: rgb(249 0 0 / 38%);
}

@media only screen and (max-width: 600px){
   
    
}