
<div class="container-fluid table">

  <div class="row no-gutters ">
    <div class="col-md-9 col-12 search"><mat-card>
      <mat-form-field appearance="fill" class="field">
        <mat-label>Serach Question</mat-label>
        <input matInput   (keyup)="updateFilter($event)">
        <mat-hint>serach all question</mat-hint>
      </mat-form-field>
    </mat-card></div>
    <div class="col-md-3 col-12 search">
      <mat-card>
      <mat-form-field appearance="fill" class="field">
        <mat-label>Serach Category</mat-label>
        <input matInput   (keyup)="select($event)">
        <mat-hint>serach all category</mat-hint>
      </mat-form-field>
    </mat-card></div>
  
  </div>

  <div [ngStyle]="{'display':respons ? 'true' : 'none'}">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
  
  <ngx-datatable 
    #table
    [limit]="5" 
    class="material" 
    [rows]="questionData" 
    [columnMode]="ColumnMode.force" 
    rowHeight="auto"
    [scrollbarH]="true"
    [headerHeight]='50'
    [footerHeight]="50">


    <ngx-datatable-column name="No"  [resizeable]="true" [width]='10'>
        <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            {{rowIndex + 1}}
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="question"  [resizeable]="true" [width]='300'>
      <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
        <div *ngIf="row.question">
          <p>{{row.question}} </p>
      </div>

       <!-- <div *ngIf="row.imageQue"> 
        
          <img [src]="row.imageQue | getDownloadURL" style="width: 100px; height: 100px;">
      </div> -->
      </ng-template>
      
  </ngx-datatable-column>

  

  <ngx-datatable-column name="Category"  [resizeable]="true" [width]='150'>
    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
      <p>{{row.category | uppercase}}</p>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Edit" [resizeable]="true" [width]='50'>
    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
      <button mat-icon-button (click)="editQuestion(row)"><mat-icon style="color: blue;">text_format</mat-icon></button>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Delete" [resizeable]="true" [width]='50'>
    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
      <button mat-icon-button (click)='deleteQuestion(row.id)'><mat-icon style="color: red;">delete</mat-icon></button>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Active / Deactive" [resizeable]="true" [width]='50'>
    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
      <mat-slide-toggle [(ngModel)]="row.status" (click)='status(row)' class="side">{{row.status?"Active":"Deactive"}}</mat-slide-toggle>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="View" [resizeable]="true" [width]='50'>
    <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
      <button mat-icon-button><mat-icon (click)='viewQuestion(row)'>open_in_new</mat-icon></button>

    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

</div>    