// .body{
//   background-color: whitesmoke;
// }
mat-sidenav-container {
    height: 100%;
    background-color: whitesmoke
  }

  mat-sidenav {
    background-color: black;
    width: 200px;
  //   box-shadow: 0 0 50px red;
  }

  mat-toolbar{
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top:0 ; /* Sets the sticky toolbar to be on top */
    z-index: 1000; 
  }

.example-spacer{
    flex: 1 1 auto;
  }
  
  .btn-menu{
    background-color:white;
    color: black;
  }
  
  .mat-card-one{
    width: 600px;
    
   background-color: rgb(255, 153, 0);
  }
  
  .mat-list {
    margin-top: 55px;
  }
  
  .peage-title {
    font-size: xx-large;
    margin-left: 20px;
  }
  .list {
    color: white;
    cursor: pointer;
  }
  .list:hover {
    background-color: rgb(249, 252, 255);
    color: black;
  }
  .list:focus {
    border: transparent;
  }
  .list-item {
    margin-left: 10px;
    margin-top: 5px;
  }
  
::ng-deep.xng-breadcrumb-trail {
    /* align-items: center; */
    color: white !important;
    /* display: flex; */
    margin-left: 10px;
    margin-top: 5px;
    font-size: 30px;
    
}






@media only screen and (max-width: 600px) {
  ::ng-deep.xng-breadcrumb-trail {
    /* align-items: center; */
    color: white;
    
    /* display: flex; */
    margin-left: 5px;
    margin-top: 5px;
    font-size: 20px;
}
}