<!-- <router-outlet></router-outlet> -->

<mat-sidenav-container value='true'>

    <!-- side navbar -->

    <mat-sidenav mode="over" #sidenav >

        <div class="mat-list">

            <mat-list role="list">

                <mat-list-item 
                    class="list" 
                    (click)="home()" (click)="sidenav.toggle()">
                    <mat-icon class="list-icon">add_circle</mat-icon>
                    <span class="list-item">Add quiz</span>
                </mat-list-item>
            
                <mat-list-item 
                    class="list"
                    (click)="quiz()" (click)="sidenav.toggle()">
                    <mat-icon class="list-icon">dns</mat-icon>
                    <span class="list-item">Question list</span>
                </mat-list-item>

                <mat-list-item 
                    class="list"
                    (click)="category()" (click)="sidenav.toggle()">
                    <mat-icon class="list-icon">list</mat-icon>
                    <span class="list-item">Manage category</span>
                </mat-list-item>

                <mat-list-item 
                    class="list"
                    (click)="score()" (click)="sidenav.toggle()">
                    <mat-icon class="list-icon">receipt_long</mat-icon>
                    <span class="list-item">Score board</span>
                </mat-list-item>

            </mat-list>

        </div>

    </mat-sidenav>

    <mat-sidenav-content>

    <!-- toolbar -->
    
        <mat-toolbar color='primary'>

            <!-- button for sid nav -->

            <button (click)="sidenav.toggle()" mat-mini-fab class="btn-menu">
                <mat-icon>menu</mat-icon>
            </button>

            <div>
                <xng-breadcrumb  class="xng-breadcrumb-trail"></xng-breadcrumb>
            </div>
        
        
          

            <span class="example-spacer"></span>

            

            <!-- button for logout -->
            <button mat-raised-button class="btn-menu" (click)="logout()">
                <mat-icon>logout</mat-icon> Logout
            </button>
        </mat-toolbar>

 
       <!-- router outlet -->
        <router-outlet></router-outlet>
        
    </mat-sidenav-content>

</mat-sidenav-container>
